.footer{
    background-image: linear-gradient(  #7277db , #161954);
    font-size: 15px;
}

.left-text {
    text-align: left;
    padding-top: 17px;
    padding-left: 199px;
    font-family: 'Ubuntu', sans-serif;
    /* display: flex; */
    color: white;
}

.right-text{
    text-align: right;
    color: white;
    padding-right: 120px;
    /* display: inline-block; */
}

.last-text{
    text-align: left;
    padding-left: 199px;
    padding-bottom: 0.75rem;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}