@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.rows {
    font-family: 'Playfair Display', serif;
}

.rows ul {
    list-style-type: none;
    margin-left: 1vw;
}

.Ids h2 {
    font-size: 1.5vw;
}

.Ids h3 {
    font-size: 1vw;
}